#Don't track content of these folders
__pycache__
data
Chapter21/datasets
Chapter21/downloads
weights

# ignore all the pictures
*.JPEG
*.jpg

# ignore large hdf5 files
*.hdf5
#ignore jupyter checkpoints
*.ipynb_checkpoints/

#ignore .pyc files
*.pyc

# Ignore TFOD
Object_Detection/models
Object_Detection/cocoapi
Object_Detection/signDatabasePublicFramesOnly
lisa/